<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".jsTableRow").dblclick(function(){
          var str = $(this).text().trim().replace(/\s\s+/g, ' ').split(" ")
          var table = $("h1").text().split(" ")[0]
          if (table == "Matches"){
            window.location.href = '/table/games/'+str[0]+'/0'
          } else if (table == "Games"){
            window.location.href = '/table/plays/'+str[0]+'/'+str[3]
          } else if (table == "Drafts"){
            window.location.href = '/table/picks/'+str[0]+'/0'
          }
        });
      });
    </script>
    <script>
      $(document).ready(function(){
          $(".jsTableRow").click(function(){
              $(this).toggleClass("active");
          });
      });
    </script>
    <script>
      function initGetWinner(){
        fetch('/game_winner_init').then(function(response){
          response.json().then(function(data){
            if (data.match_id === "NA"){
              document.getElementById("EndGameActions").style.display = "none";
              document.getElementById("GameWinnerModal2").className = "modal-dialog modal-dialog-centered";
              document.getElementById("GameWinnerModalDate").style.display = "none";
              document.getElementById("GameWinnerHR1").style.display = "none";
              document.getElementById("GameWinnerHR2").style.display = "none";
              document.getElementById("GameWinnerSkipButton").disabled = true;
              document.getElementById("GameWinnerP1Button").disabled = true;
              document.getElementById("GameWinnerP2Button").disabled = true;
              document.getElementById("GameWinnerMessage").innerHTML = "<b><center>No Game records with a missing Game_Winner.</center></b>";
            } else{
              document.getElementById("GameWinnerModal2").className = "modal-dialog modal-dialog-centered modal-lg";
              document.getElementById("GameWinnerModalLabel").innerHTML = 'Get Game_Winner';
              document.getElementById("GameWinnerModalDate").innerHTML = '<center><b>' + data.match_id + ', Game ' + data.game_num + '</b></center>';
              document.getElementById("GameWinnerP1Button").innerHTML = data.p1;
              document.getElementById("GameWinnerP2Button").innerHTML = data.p2;
              document.getElementById("EndGameActions").innerHTML = "";
              for (var i = 0; i < data.game_actions.length; i++){
                document.getElementById("EndGameActions").innerHTML += data.game_actions[i] + "<br>"
              };
            };
          });
        });      
      };
      function applyGetWinner(winner){
        match_id = document.getElementById("GameWinnerModalDate").innerHTML.split(",")[0].split("<b>")[1]
        game_num = document.getElementById("GameWinnerModalDate").innerHTML.split(" Game ")[1].split("</b>")[0]
        if (winner === "P1"){
          game_winner = document.getElementById("GameWinnerP1Button").innerHTML
        } else if (winner === "P2") {
          game_winner = document.getElementById("GameWinnerP2Button").innerHTML
        } else {
          game_winner = '0'
        }
        fetch('/game_winner/'+match_id+'/'+game_num+'/'+game_winner).then(function(response){
          response.json().then(function(data){
            if (data.match_id === "NA"){
              document.getElementById("GetWinnerCloseButton").click();
            } else{
              document.getElementById("GameWinnerModalLabel").innerHTML = 'Get Game_Winner';
              document.getElementById("GameWinnerModalDate").innerHTML = '<center><b>' + data.match_id + ', Game ' + data.game_num + '</b></center>';
              document.getElementById("GameWinnerP1Button").innerHTML = data.p1;
              document.getElementById("GameWinnerP2Button").innerHTML = data.p2;
              document.getElementById("EndGameActions").innerHTML = "";
              for (var i = 0; i < data.game_actions.length; i++){
                document.getElementById("EndGameActions").innerHTML += data.game_actions[i] + "<br>"
              };
            };
          });
        });
      };
    </script>
    <script>
      function initGetDraftId(){
        fetch('/draft_id_init').then(function(response){
          response.json().then(function(data){
            if (data.match_id === "NA"){
              //console.log(data)
              document.getElementById("DraftIdModalDate").style.display = "none";
              document.getElementById("DraftIdHR1").style.display = "none";
              document.getElementById("DraftIdHR2").style.display = "none";
              document.getElementById("DraftIdButton").style.display = "none";
              document.getElementById("DraftIdSkipButton").disabled = true;
              document.getElementById("DraftIdApplyButton").disabled = true;
              document.getElementById("DraftIdMessage").innerHTML = "<b><center>No Limited Matches missing an Associated Draft_ID.<br><br>Note: Match records need to have their Format set to 'Limited' before they can be associated with a Draft.</center></b>";
            } else{
              document.getElementById("DraftIdModalLabel").innerHTML = 'Apply Associated Draft_IDs';
              document.getElementById("DraftIdModalDate").innerHTML = '<center><b>' + data.match_id + '</b><br><b>Date: </b>' + data.date + '</center>';
              document.getElementById("DraftIdLands").innerHTML = "";
              document.getElementById("DraftIdSpells").innerHTML = "";
              for (var i = 0; i < data.lands.length; i++){
                document.getElementById("DraftIdLands").innerHTML += data.lands[i];
                if (i < data.lands.length-1){
                  document.getElementById("DraftIdLands").innerHTML += "<br>"
                };
              };
              for (var i = 0; i < data.spells.length; i++){
                document.getElementById("DraftIdSpells").innerHTML += data.spells[i];
                if (i < data.spells.length-1){
                  document.getElementById("DraftIdSpells").innerHTML += "<br>"
                };
              };
              document.getElementById("DraftIdButton").innerHTML = data.possible_draft_ids[0];
              document.getElementById("DraftIdMenu").innerHTML = ""
              for (var i = 0; i < data.possible_draft_ids.length; i++){
                document.getElementById("DraftIdMenu").innerHTML += '<li><a class="dropdown-item" onclick="showAssociatedDraftId(this)">'+data.possible_draft_ids[i]+' </a></li>';
              };
            };
          });
        });      
      };
      function applyGetDraftId(skip){
        match_id = document.getElementById("DraftIdModalDate").innerHTML.split("</b><br>")[0].split("<b>")[1]
        if (skip){
          draft_id = "0";
        } else{
          draft_id = document.getElementById("DraftIdButton").innerHTML
        }
        console.log(match_id+","+draft_id)
        fetch('/associated_draft_id/'+match_id+'/'+draft_id).then(function(response){
          response.json().then(function(data){
            console.log(data)
            if (data.match_id === "NA"){
              //console.log(data)
              document.getElementById("DraftIdCloseButton").click();
            } else{
              document.getElementById("DraftIdModalLabel").innerHTML = 'Apply Associated Draft_IDs';
              document.getElementById("DraftIdModalDate").innerHTML = '<center><b>' + data.match_id + '</b><br><b>Date: </b>' + data.date + '</center>';
              document.getElementById("DraftIdLands").innerHTML = "";
              document.getElementById("DraftIdSpells").innerHTML = "";
              for (var i = 0; i < data.lands.length; i++){
                document.getElementById("DraftIdLands").innerHTML += data.lands[i];
                if (i < data.lands.length-1){
                  document.getElementById("DraftIdLands").innerHTML += "<br>"
                };
              };
              for (var i = 0; i < data.spells.length; i++){
                document.getElementById("DraftIdSpells").innerHTML += data.spells[i];
                if (i < data.spells.length-1){
                  document.getElementById("DraftIdSpells").innerHTML += "<br>"
                };
              };
              document.getElementById("DraftIdButton").innerHTML = data.possible_draft_ids[0];
              document.getElementById("DraftIdMenu").innerHTML = ""
              for (var i = 0; i < data.possible_draft_ids.length; i++){
                document.getElementById("DraftIdMenu").innerHTML += '<li><a class="dropdown-item" onclick="showAssociatedDraftId(this)">'+data.possible_draft_ids[i]+' </a></li>';
              };
            };
          });
        });
      };
    </script>
    <script>
      function showP1Arch(item) {document.getElementById("P1ArchButton").innerHTML = item.innerHTML;}
      function showP2Arch(item) {document.getElementById("P2ArchButton").innerHTML = item.innerHTML;}
      function showFormat(item) {
        document.getElementById("FormatButton").innerHTML = item.innerHTML;
        if (input_options["Limited Formats"].includes(item.innerHTML)){
          document.getElementById("P1ArchButton").disabled = true;
          document.getElementById("P2ArchButton").disabled = true;
          document.getElementById("P1ArchButton").innerHTML = "Limited";
          document.getElementById("P2ArchButton").innerHTML = "Limited";
          document.getElementById("LimitedFormatButton").disabled = false;
          document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
          if (item.innerHTML === "Booster Draft"){
            if (!input_options["Booster Draft Formats"].includes(document.getElementById('LimitedFormatButton').innerHTML)){
              document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format"
            }
            if (!input_options["Booster Draft Match Types"].includes(document.getElementById('MatchTypeButton').innerHTML)){
              document.getElementById('MatchTypeButton').innerHTML = "Match_Type"
            }
            document.getElementById('LimitedFormatMenu').innerHTML = "";
            for (var i = 0; i < input_options["Booster Draft Formats"].length; i++){
              document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormat(this)">'+input_options["Booster Draft Formats"][i]+' </a></li>';
            };
            document.getElementById('MatchTypeMenu').innerHTML = "";
            for (var i = 0; i < input_options["Booster Draft Match Types"].length; i++){
              document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+' </a></li>';
            };
          } else if (item.innerHTML === "Sealed Deck"){
            if (!input_options["Sealed Formats"].includes(document.getElementById('LimitedFormatButton').innerHTML)){
              document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format"
            }
            if (!input_options["Sealed Match Types"].includes(document.getElementById('MatchTypeButton').innerHTML)){
              document.getElementById('MatchTypeButton').innerHTML = "Match_Type"
            }
            document.getElementById('LimitedFormatMenu').innerHTML = "";
            for (var i = 0; i < input_options["Sealed Formats"].length; i++){
              document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormat(this)">'+input_options["Sealed Formats"][i]+' </a></li>';
            };
            document.getElementById('MatchTypeMenu').innerHTML = "";
            for (var i = 0; i < input_options["Sealed Match Types"].length; i++){
              document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Sealed Match Types"][i]+' </a></li>';
            };
          } else if (item.innerHTML === "Cube"){
            if (!input_options["Cube Formats"].includes(document.getElementById('LimitedFormatButton').innerHTML)){
              document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format"
            }
            if (!input_options["Booster Draft Match Types"].includes(document.getElementById('MatchTypeButton').innerHTML)){
              document.getElementById('MatchTypeButton').innerHTML = "Match_Type"
            }
            document.getElementById('LimitedFormatMenu').innerHTML = "";
            for (var i = 0; i < input_options["Cube Formats"].length; i++){
              document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormat(this)">'+input_options["Cube Formats"][i]+' </a></li>';
            };
            document.getElementById('MatchTypeMenu').innerHTML = "";
            for (var i = 0; i < input_options["Booster Draft Match Types"].length; i++){
              document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+' </a></li>';
            };
          };
        } else if (input_options["Constructed Formats"].includes(item.innerHTML)){
          document.getElementById("P1ArchButton").disabled = false;
          document.getElementById("P2ArchButton").disabled = false;
          document.getElementById("P1ArchButton").innerHTML = "P1_Arch";
          document.getElementById("P2ArchButton").innerHTML = "P2_Arch";
          document.getElementById("LimitedFormatButton").disabled = true;
          document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
          if (!input_options["Constructed Match Types"].includes(document.getElementById('MatchTypeButton').innerHTML)){
              document.getElementById('MatchTypeButton').innerHTML = "Match_Type"
            }
          document.getElementById('MatchTypeMenu').innerHTML = "";
          for (var i = 0; i < input_options["Constructed Match Types"].length; i++){
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Constructed Match Types"][i]+' </a></li>';
          };
        } else if (item.innerHTML === "NA"){
          document.getElementById("P1ArchButton").disabled = false;
          document.getElementById("P2ArchButton").disabled = false;
          document.getElementById("P1ArchButton").innerHTML = "P1_Arch";
          document.getElementById("P2ArchButton").innerHTML = "P2_Arch";
          document.getElementById("LimitedFormatButton").disabled = true;
          document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
          document.getElementById('MatchTypeMenu').innerHTML = "";
          for (var i = 0; i < input_options["Constructed Match Types"].length; i++){
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Constructed Match Types"][i]+' </a></li>';
          };
          for (var i = 0; i < input_options["Booster Draft Match Types"].length; i++){
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+' </a></li>';
          };
          for (var i = 0; i < input_options["Sealed Match Types"].length; i++){
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Sealed Match Types"][i]+' </a></li>';
          };
        };
        document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">NA </a></li>';
        console.log(item.innerHTML)}
      function showLimitedFormat(item) {document.getElementById("LimitedFormatButton").innerHTML = item.innerHTML;}
      function showMatchType(item) {document.getElementById("MatchTypeButton").innerHTML = item.innerHTML;}
      function changeHiddenInputsMulti() {
        var match_ids = "";
        $(".active").each(function() {
            match_ids = match_ids + "," + ($(this).text().trim().replace(/\s\s+/g, ' ').split(" ")[0]);
        });
        match_ids = match_ids.substring(1)
        console.log(match_ids)
        document.getElementById("Match_ID_Multi").value = match_ids
        document.getElementById("FieldToChangeMulti").value = document.getElementById("FieldToChangeButton").innerHTML.trim()
        document.getElementById("P1ArchMulti").value = document.getElementById("P1ArchButtonMulti").innerHTML.trim()
        document.getElementById("P2ArchMulti").value = document.getElementById("P2ArchButtonMulti").innerHTML.trim()
        document.getElementById("FormatMulti").value = document.getElementById("FormatButtonMulti").innerHTML.trim()
        document.getElementById("Limited_FormatMulti").value = document.getElementById("LimitedFormatButtonMulti").innerHTML.trim()
        document.getElementById("Match_TypeMulti").value = document.getElementById("MatchTypeButtonMulti").innerHTML.trim()
      }
      function changeHiddenInputs() {
        document.getElementById("Match_ID").value = document.getElementById("ReviseModalLabel").innerHTML.trim().split(" - ")[1]
        if (document.getElementById("P1ArchButton").innerHTML.trim() === "P1_Arch"){
          document.getElementById("P1Arch").value = "NA"
        } else{
          document.getElementById("P1Arch").value = document.getElementById("P1ArchButton").innerHTML.trim()
        }
        if (document.getElementById("P2ArchButton").innerHTML.trim() === "P2_Arch"){
          document.getElementById("P2Arch").value = "NA"
        } else{
          document.getElementById("P2Arch").value = document.getElementById("P2ArchButton").innerHTML.trim()
        }
        if (document.getElementById("FormatButton").innerHTML.trim() === "Format"){
          document.getElementById("Format").value = "NA"
        } else{
          document.getElementById("Format").value = document.getElementById("FormatButton").innerHTML.trim()
        }
        if (document.getElementById("LimitedFormatButton").innerHTML.trim() === "Limited_Format"){
          document.getElementById("Limited_Format").value = "NA"
        } else{
          document.getElementById("Limited_Format").value = document.getElementById("LimitedFormatButton").innerHTML.trim()
        }
        if (document.getElementById("MatchTypeButton").innerHTML.trim() === "Match_Type"){
          document.getElementById("Match_Type").value = "NA"
        } else{
          document.getElementById("Match_Type").value = document.getElementById("MatchTypeButton").innerHTML.trim()
        }
      }
      function showP1Field(item) {
        document.getElementById("FieldToChangeButton").innerHTML = item.innerHTML;
        document.getElementById("P1ArchCol1").style.display = 'block'
        document.getElementById("P1ArchCol2").style.display = 'block'
        document.getElementById("P1SubarchCol1").style.display = 'block'
        document.getElementById("P1SubarchCol2").style.display = 'block'
        document.getElementById("P2ArchCol1").style.display = 'none'
        document.getElementById("P2ArchCol2").style.display = 'none'
        document.getElementById("P2SubarchCol1").style.display = 'none'
        document.getElementById("P2SubarchCol2").style.display = 'none'
        document.getElementById("FormatCol1").style.display = 'none'
        document.getElementById("FormatCol2").style.display = 'none'
        document.getElementById("LimitedFormatCol1").style.display = 'none'
        document.getElementById("LimitedFormatCol2").style.display = 'none'
        document.getElementById("MatchTypeCol1").style.display = 'none'
        document.getElementById("MatchTypeCol2").style.display = 'none'
        document.getElementById("P1DeckBR1").style.display = "block";
        document.getElementById("P1DeckBR2").style.display = "none";
        document.getElementById("P2DeckBR1").style.display = "none";
        document.getElementById("P2DeckBR2").style.display = "none";
        document.getElementById("FormatBR1").style.display = "none";
        document.getElementById("FormatBR2").style.display = "none";
      }
      function showP2Field(item) {
        document.getElementById("FieldToChangeButton").innerHTML = item.innerHTML;
        document.getElementById("P1ArchCol1").style.display = 'none'
        document.getElementById("P1ArchCol2").style.display = 'none'
        document.getElementById("P1SubarchCol1").style.display = 'none'
        document.getElementById("P1SubarchCol2").style.display = 'none'
        document.getElementById("P2ArchCol1").style.display = 'block'
        document.getElementById("P2ArchCol2").style.display = 'block'
        document.getElementById("P2SubarchCol1").style.display = 'block'
        document.getElementById("P2SubarchCol2").style.display = 'block'
        document.getElementById("FormatCol1").style.display = 'none'
        document.getElementById("FormatCol2").style.display = 'none'
        document.getElementById("LimitedFormatCol1").style.display = 'none'
        document.getElementById("LimitedFormatCol2").style.display = 'none'
        document.getElementById("MatchTypeCol1").style.display = 'none'
        document.getElementById("MatchTypeCol2").style.display = 'none'
        document.getElementById("P1DeckBR1").style.display = "none";
        document.getElementById("P1DeckBR2").style.display = "none";
        document.getElementById("P2DeckBR1").style.display = "block";
        document.getElementById("P2DeckBR2").style.display = "none";
        document.getElementById("FormatBR1").style.display = "none";
        document.getElementById("FormatBR2").style.display = "none";
      }
      function showFormatField(item) {
        document.getElementById("FieldToChangeButton").innerHTML = item.innerHTML;
        document.getElementById("P1ArchCol1").style.display = 'none'
        document.getElementById("P1ArchCol2").style.display = 'none'
        document.getElementById("P1SubarchCol1").style.display = 'none'
        document.getElementById("P1SubarchCol2").style.display = 'none'
        document.getElementById("P2ArchCol1").style.display = 'none'
        document.getElementById("P2ArchCol2").style.display = 'none'
        document.getElementById("P2SubarchCol1").style.display = 'none'
        document.getElementById("P2SubarchCol2").style.display = 'none'
        document.getElementById("FormatCol1").style.display = 'block'
        document.getElementById("FormatCol2").style.display = 'block'
        document.getElementById("LimitedFormatCol1").style.display = 'block'
        document.getElementById("LimitedFormatCol2").style.display = 'block'
        document.getElementById("MatchTypeCol1").style.display = 'none'
        document.getElementById("MatchTypeCol2").style.display = 'none'
        document.getElementById("P1DeckBR1").style.display = "none";
        document.getElementById("P1DeckBR2").style.display = "none";
        document.getElementById("P2DeckBR1").style.display = "none";
        document.getElementById("P2DeckBR2").style.display = "none";
        document.getElementById("FormatBR1").style.display = "block";
        document.getElementById("FormatBR2").style.display = "none";
      }
      function showMatchTypeField(item) {
        document.getElementById("FieldToChangeButton").innerHTML = item.innerHTML;
        document.getElementById("P1ArchCol1").style.display = 'none'
        document.getElementById("P1ArchCol2").style.display = 'none'
        document.getElementById("P1SubarchCol1").style.display = 'none'
        document.getElementById("P1SubarchCol2").style.display = 'none'
        document.getElementById("P2ArchCol1").style.display = 'none'
        document.getElementById("P2ArchCol2").style.display = 'none'
        document.getElementById("P2SubarchCol1").style.display = 'none'
        document.getElementById("P2SubarchCol2").style.display = 'none'
        document.getElementById("FormatCol1").style.display = 'none'
        document.getElementById("FormatCol2").style.display = 'none'
        document.getElementById("LimitedFormatCol1").style.display = 'none'
        document.getElementById("LimitedFormatCol2").style.display = 'none'
        document.getElementById("MatchTypeCol1").style.display = 'block'
        document.getElementById("MatchTypeCol2").style.display = 'block'
        document.getElementById("P1DeckBR1").style.display = "none";
        document.getElementById("P1DeckBR2").style.display = "none";
        document.getElementById("P2DeckBR1").style.display = "none";
        document.getElementById("P2DeckBR2").style.display = "none";
        document.getElementById("FormatBR1").style.display = "none";
        document.getElementById("FormatBR2").style.display = "none";
      }
      function showP1ArchMulti(item) {document.getElementById("P1ArchButtonMulti").innerHTML = item.innerHTML;}
      function showP2ArchMulti(item) {document.getElementById("P2ArchButtonMulti").innerHTML = item.innerHTML;}
      function showFormatMulti(item) {
        document.getElementById("FormatButtonMulti").innerHTML = item.innerHTML;
        if (input_options["Constructed Formats"].includes(item.innerHTML)){
          document.getElementById("LimitedFormatButtonMulti").innerHTML = "NA"
          document.getElementById("LimitedFormatButtonMulti").disabled = true
        } else if (item.innerHTML === "NA"){
          document.getElementById("LimitedFormatButtonMulti").innerHTML = "NA"
          document.getElementById("LimitedFormatButtonMulti").disabled = true
        } else{
          document.getElementById("LimitedFormatButtonMulti").innerHTML = "NA"
          document.getElementById("LimitedFormatButtonMulti").disabled = false
          if (item.innerHTML === "Booster Draft"){
            document.getElementById('LimitedFormatMenuMulti').innerHTML = "";
            for (var i = 0; i < input_options["Booster Draft Formats"].length; i++){
              document.getElementById("LimitedFormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">'+input_options["Booster Draft Formats"][i]+' </a></li>';
            };
          } else if (item.innerHTML === "Sealed Deck"){
            document.getElementById('LimitedFormatMenuMulti').innerHTML = "";
            for (var i = 0; i < input_options["Sealed Formats"].length; i++){
              document.getElementById("LimitedFormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">'+input_options["Sealed Formats"][i]+' </a></li>';
            };
          } else if (item.innerHTML === "Cube"){
            document.getElementById('LimitedFormatMenuMulti').innerHTML = "";
            for (var i = 0; i < input_options["Cube Formats"].length; i++){
              document.getElementById("LimitedFormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">'+input_options["Cube Formats"][i]+' </a></li>';
            };
          }
        };
      };
      function showLimitedFormatMulti(item) {document.getElementById("LimitedFormatButtonMulti").innerHTML = item.innerHTML;}
      function showMatchTypeMulti(item) {document.getElementById("MatchTypeButtonMulti").innerHTML = item.innerHTML;}
      function showAssociatedDraftId(item) {document.getElementById("DraftIdButton").innerHTML = item.innerHTML;}
      function showBestGuess(item) {
        document.getElementById("BestGuessButton").innerHTML = item.innerHTML;
        document.getElementById("BG_Match_Set").value = document.getElementById("BestGuessButton").innerHTML.trim();
      }
      function bestGuessHidden(label) {document.getElementById("BG_Replace").value = label;}
      function bestGuess(overwrite){
        bg_type = document.getElementById("BestGuessButton").innerHTML.trim()
        if (overwrite){
          url = "/best_guess/overwrite/"
        } else{
          url = "/best_guess/unknown/"
        };
        if (bg_type === "All Matches"){
          url += "all"
        } else if (bg_type === "Constructed Only"){
          url += "con"
        } else if (bg_type === "Limited Only"){
          console.log(bg_type)
          url += "lim"
        };
        fetch(url).then(function(response){
          response.json().then(function(data){
            if (data.message_type === "success"){
              console.log(data.message)
            } else{
              console.log("bad")
            };
          });
        });      
      };
      function importHidden(label) {document.getElementById("dataToImport").value = label;}
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.index') }}"><b>Navbar</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Tables</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='matches', page_num=1) }}"><b>Matches</b></a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='games', page_num=1) }}"><b>Games</b></a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='plays', page_num=1) }}"><b>Plays</b></a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='drafts', page_num=1) }}"><b>Drafts</b></a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='picks', page_num=1) }}"><b>Draft Picks</b></a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Data Cleaning</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#BestGuessModal" onclick=""><b>Best Guess Deck Names</b></a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#GameWinnerModal" onclick="initGetWinner()"><b>Get Missing Game Winners</b></a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#DraftIdModal" onclick="initGetDraftId()"><b>Apply Associated Draft_IDs</b></a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Import Data</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ImportModal" onclick=""><b>Import Data</b></a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>{{ user.email }}</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('views.profile') }}"><b>Profile</b></a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.logout') }}"><b>Logout</b></a></li>
              </ul>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.register') }}"><b>Register</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.login') }}"><b>Login</b></a>
            </li>
        {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <br><br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container-fluid">
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="modal fade" id="GameWinnerModal" tabindex="-1" aria-labelledby="GameWinnerModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" id="GameWinnerModal2">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="GameWinnerModalLabel">Missing Game_Winners</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="GetWinnerCloseButton"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row text-center" id="GameWinnerModalDate">
                Date
              </div>
              <hr id="GameWinnerHR1">
              <div class="row">
                <div class="col" id="EndGameActions">
                  Game Action 1<br>
                  Game Action 2<br>
                  Game Action 3<br>
                  Game Action 4<br>
                  Game Action 5<br>
                  Game Action 6<br>
                  Game Action 7<br>
                  Game Action 8<br>
                  Game Action 9<br>
                  Game Action 10<br>
                  Game Action 11<br>
                  Game Action 12<br>
                  Game Action 13<br>
                  Game Action 14<br>
                  Game Action 15<br>
                </div>
              </div>
              <hr id="GameWinnerHR2">
              <div class="row text-center" id="GameWinnerMessage">
                <b>Game_Winner could not be automatically determined. Please choose manually.</b>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col text-end">
              <button type="button" class="btn btn-secondary" id="GameWinnerSkipButton" onclick="applyGetWinner('0')">Skip</button>
            </div>
            <div class="col-md-auto">
              <button type="submit" class="btn btn-primary" id="GameWinnerP1Button" onclick="applyGetWinner('P1')">Player 1</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" id="GameWinnerP2Button" onclick="applyGetWinner('P2')">Player 2</button>
            </div>
          </div><br>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DraftIdModal" tabindex="-1" aria-labelledby="DraftIdModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="DraftIdModalLabel">Apply Associated Draft_IDs</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="DraftIdCloseButton"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row text-center" id="DraftIdModalDate">
                Date
              </div>
              <hr id="DraftIdHR1">
              <div class="row">
                <div class="col" id="DraftIdLands">
                </div>
                <div class="col" id="DraftIdSpells">
                </div>
              </div>
              <hr id="DraftIdHR2">
              <div class="row text-center" id="DraftIdMessage">
                <b>Draft_ID associated with this Match could not be automatically determined. Please choose manually.</b>
              </div><br>
              <div class="row text-center">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="DraftIdButton" name="DraftIdButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Associated Draft_ID
                  </button>
                  <ul class="dropdown-menu" id="DraftIdMenu">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="DraftIdSkipButton" onclick="applyGetDraftId(true)">Skip</button>
            <button type="submit" class="btn btn-primary" id="DraftIdApplyButton" onclick="applyGetDraftId(false)">Apply</button>
          </div>
        </div>
      </div>
    </div>

    <form action="/best_guess" method="POST">
      <input type="hidden" name="BG_Match_Set" id="BG_Match_Set" value="All Matches">
      <input type="hidden" name="BG_Replace" id="BG_Replace" value="NA">
      <div class="modal fade" id="BestGuessModal" tabindex="-1" aria-labelledby="BestGuessModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="BestGuessModalLabel">Best Guess Deck Names</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="BestGuessCloseButton"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row" id="BestGuessMessage">
                  <b>This will revise deck names according to the following:</b><br><br>
                  <b>Constructed:</b>
                  <p class="px-5">Compare cards played during a match to find the name of a similar decklist.</p>
                  <b>Limited:</b>
                  <p class="px-5">Look at basic lands played during a match to find the color combination played.</p>
                  <b>NOTE: 'Overwrite All' will overwrite manually input deck name information. This is not reversible.</b>
                </div><br>
                <div class="row text-center">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="BestGuessButton" name="BestGuessButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      All Matches
                    </button>
                    <ul class="dropdown-menu" id="BestGuessMenu">
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">All Matches </a></li>
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">Constructed Only </a></li>
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">Limited Only </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-end">
                <button type="submit" class="btn btn-primary" id="BestGuessOWButton" onclick="bestGuessHidden('Overwrite All')">Overwrite All</button>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" id="BestGuessNAButton" onclick="bestGuessHidden('Replace NA/Unknown')">Replace NA/Unknown</button>
              </div>
            </div><br>
          </div>
        </div>
      </div>
    </form>

    <form action="/load" method="POST">
      <input type="hidden" name="dataToImport" id="dataToImport" value="NA">
      <div class="modal fade" id="ImportModal" tabindex="-1" aria-labelledby="ImportModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="ImportModalLabel">Import Data</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="ImportCloseButton"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row" id="ImportMessage">
                  <b>This will revise deck names according to the following:</b><br><br>
                  <b>Constructed:</b>
                  <p class="px-5">Compare cards played during a match to find the name of a similar decklist.</p>
                  <b>Limited:</b>
                  <p class="px-5">Look at basic lands played during a match to find the color combination played.</p>
                  <b>NOTE: 'Overwrite All' will overwrite manually input deck name information. This is not reversible.</b>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-end">
                <button type="submit" class="btn btn-primary" id="ImportButton1" onclick="importHidden('Matches')">Import Matches</button>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" id="ImportButton2" onclick="importHidden('Drafts')">Import Drafts</button>
              </div>
            </div><br>
          </div>
        </div>
      </div>
    </form>

  {% block content %}
  {% endblock %}


  </body>
</html>