{% extends 'base.html' %}

{% block content %}

<style>
  td {
    font-size: 10pt;
  }
  th {
    font-size: 10pt;
  }
  table tr.active {
    background: #3c3c3c;
    color: #f9f9f9;
  }
  table tr.rowGreen {
    background: #a3ffb1;
  }
  table tr.rowRed {
    background: #ffa3a3;
  }
  table tr {
    background: #CBCBCB;
  }
  table tr.rowWhite {
    background: #ffffff;
  }
  .dropdown-menu {
    max-height: 25vh;
    overflow-y: scroll;
  }
</style>

<div class="container-fluid">
  <h1><center>
    {% if (dash_name) == 'match_history' %}
      Match History
    {% endif %}
    {% if (dash_name) == 'match_stats' %}
      Match Stats
    {% endif %}
    {% if (dash_name) == 'game_stats' %}
      Game Stats
    {% endif %}
    {% if (dash_name) == 'play_stats' %}
      Play Stats
    {% endif %}
    {% if (dash_name) == 'opponents' %}
      Opponents
    {% endif %}
    {% if (dash_name) == 'card_data' %}
      Card Data
    {% endif %}
  </center></h1>
</div><br>

<div class="container-fluid">
  <form action="/dashboards/{{ dash_name }}" method="POST">
    <input type="hidden" name="dashName" id="dashName" value="{{ dash_name }}">
    <input type="hidden" name="dashCard" id="dashCard" value="NA">
    <input type="hidden" name="dashOpponent" id="dashOpponent" value="NA">
    <input type="hidden" name="dashFormat" id="dashFormat" value="NA">
    <input type="hidden" name="dashLimitedFormat" id="dashLimitedFormat" value="NA">
    <input type="hidden" name="dashDeck" id="dashDeck" value="NA">
    <input type="hidden" name="dashOppDeck" id="dashOppDeck" value="NA">
    <input type="hidden" name="dashDate1" id="dashDate1" value="NA">
    <input type="hidden" name="dashDate2" id="dashDate2" value="NA">
    <div class="row">
      <div class="col text-end">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="CardFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.0 }}
          </button>
          <ul class="dropdown-menu" id="CardFilterMenu">
            <li><a class="dropdown-item" onclick="showCardFilter(this)">Card </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="OpponentFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.1 }}
          </button>
          <ul class="dropdown-menu" id="OpponentFilterMenu">
            <li><a class="dropdown-item" onclick="showOpponentFilter(this)">Opponent </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="FormatFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.2 }}
          </button>
          <ul class="dropdown-menu" id="FormatFilterMenu">
            <li><a class="dropdown-item" onclick="showFormatFilter(this)">Format </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="LimitedFormatFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.3 }}
          </button>
          <ul class="dropdown-menu" id="LimitedFormatFilterMenu">
            <li><a class="dropdown-item" onclick="showLimitedFormatFilter(this)">Limited Format </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="DeckFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.4 }}
          </button>
          <ul class="dropdown-menu" id="DeckFilterMenu">
            <li><a class="dropdown-item" onclick="showDeckFilter(this)">Deck </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="OppDeckFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.5 }}
          </button>
          <ul class="dropdown-menu" id="OppDeckFilterMenu">
            <li><a class="dropdown-item" onclick="showOppDeckFilter(this)">Opp. Deck </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Date1Filter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.6 }}
          </button>
          <ul class="dropdown-menu" id="Date1FilterMenu"></ul>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Date2Filter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ inputs.7 }}
          </button>
          <ul class="dropdown-menu" id="Date2FilterMenu"></ul>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit" id="GenerateButton" onclick="changeHiddenInputsFilter()">Generate</button>
      </div>
    </div>
  </form>
</div>
<br>

{% if table is defined %}
{% for t in table %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <table class="table table-sm w-auto table-bordered user-select-none">
      <thead class="table-dark">
        <tr>
          {% for i in t.columns %}
          <th scope="col" class="text-center">{{ i }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for key,value in t.iterrows() %}
          {% if (dash_name) == 'match_history' %}
            {% if 'Win' in value['Match Result'] %}
            <tr class="rowGreen">
            {% endif %}
            {% if 'Loss' in value['Match Result'] %}
            <tr class="rowRed">
            {% endif %}
            {% if 'NA' in value['Match Result'] %}
            <tr class="jsTableRow">
            {% endif %}
              <td class="text-center"><nobr>{{ value['Date'] }}</nobr></td>
              <td class="text-center">{{ value['Opponent'] }}</td>
              <td class="text-center">{{ value['Deck'] }}</td>
              <td class="text-center">{{ value['Opp. Deck'] }}</td>
              <td class="text-center">{{ value['Match Result'] }}</td>
              <td class="text-center">{{ value['Match Format'] }}</td>
            </tr>
          {% endif %}

          {% if (dash_name) == 'match_stats' %}
            <tr class="rowWhite">
              <td>{{ value[0] }}</td>
            {% for j in value[1:] %}
              <td class="text-center">{{ j }}</td>
            {% endfor %}
            </tr>
          {% endif %}

          {% if (dash_name) == 'game_stats' %}
            {% if 'All Games' in value['Game_Label'] %}
            <tr>
            {% endif %}
            {% if 'Game 1' in value['Game_Label'] %}
            <tr class="rowWhite">
            {% endif %}
            {% if 'Game 2' in value['Game_Label'] %}
            <tr>
            {% endif %}
            {% if 'Game 3' in value['Game_Label'] %}
            <tr class="rowWhite">
            {% endif %}
              <td>{{ value[0] }}</td>
            {% for j in value[1:] %}
              <td class="text-center">{{ j }}</td>
            {% endfor %}
            </tr>
          {% endif %}
          {% if (dash_name) == 'play_stats' %}
            <tr>
              <td>{{ value[0] }}</td>
            {% for j in value[1:] %}
              <td class="text-center">{{ j }}</td>
            {% endfor %}
            </tr>
          {% endif %}
          {% if (dash_name) == 'opponents' %}
            <tr>
              <td>{{ value[0] }}</td>
            {% for j in value[1:] %}
              <td class="text-center">{{ j }}</td>
            {% endfor %}
            </tr>
          {% endif %}
          {% if (dash_name) == 'card_data' %}
            <tr>
              <td>{{ value[0] }}</td>
            {% for j in value[1:] %}
              <td class="text-center">{{ j }}</td>
            {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}
{% endif %}

<script>
  function changeHiddenInputsFilter() {
    document.getElementById("dashCard").value = document.getElementById("CardFilter").innerHTML.trim()
    document.getElementById("dashOpponent").value = document.getElementById("OpponentFilter").innerHTML.trim()
    document.getElementById("dashFormat").value = document.getElementById("FormatFilter").innerHTML.trim()
    document.getElementById("dashLimitedFormat").value = document.getElementById("LimitedFormatFilter").innerHTML.trim()
    document.getElementById("dashDeck").value = document.getElementById("DeckFilter").innerHTML.trim()
    document.getElementById("dashOppDeck").value = document.getElementById("OppDeckFilter").innerHTML.trim()
    document.getElementById("dashDate1").value = document.getElementById("Date1Filter").innerHTML.trim()
    document.getElementById("dashDate2").value = document.getElementById("Date2Filter").innerHTML.trim()
  }
  function showCardFilter(item) {document.getElementById("CardFilter").innerHTML = item.innerHTML;}
  function showOpponentFilter(item) {document.getElementById("OpponentFilter").innerHTML = item.innerHTML;}
  function showFormatFilter(item) {document.getElementById("FormatFilter").innerHTML = item.innerHTML;}
  function showLimitedFormatFilter(item) {document.getElementById("LimitedFormatFilter").innerHTML = item.innerHTML;}
  function showDeckFilter(item) {document.getElementById("DeckFilter").innerHTML = item.innerHTML;}
  function showOppDeckFilter(item) {document.getElementById("OppDeckFilter").innerHTML = item.innerHTML;}
</script>
<script>
  window.onload = function(){
    fetch('/filter_options').then(function(response){
      response.json().then(function(data){
        for (var i = 0; i < data["Opponent"].length; i++){
          document.getElementById("OpponentFilterMenu").innerHTML += '<li><a class="dropdown-item" onclick="showOpponentFilter(this)">'+data["Opponent"][i]+' </a></li>';
        };
        for (var i = 0; i < data["Format"].length; i++){
          document.getElementById("FormatFilterMenu").innerHTML += '<li><a class="dropdown-item" onclick="showFormatFilter(this)">'+data["Format"][i]+' </a></li>';
        };
        for (var i = 0; i < data["Limited Format"].length; i++){
          document.getElementById("LimitedFormatFilterMenu").innerHTML += '<li><a class="dropdown-item" onclick="showLimitedFormatFilter(this)">'+data["Limited Format"][i]+' </a></li>';
        };
        for (var i = 0; i < data["Deck"].length; i++){
          document.getElementById("DeckFilterMenu").innerHTML += '<li><a class="dropdown-item" onclick="showDeckFilter(this)">'+data["Deck"][i]+' </a></li>';
        };
        for (var i = 0; i < data["Opp. Deck"].length; i++){
          document.getElementById("OppDeckFilterMenu").innerHTML += '<li><a class="dropdown-item" onclick="showOppDeckFilter(this)">'+data["Opp. Deck"][i]+' </a></li>';
        };
      });
    });     
  };
</script>

{% endblock %}