{% extends 'base.html' %}

{% block content %}

<script>
  function editProfile() {
    document.getElementById("CancelProfileButton").style.display = "block";
    //document.getElementById("AddNewUsernameButton").style.display = "block";
    document.getElementById("EditProfileButton").style.display = "none";
    document.getElementById("SaveProfileButton").style.display = "block";
    document.getElementById("ProfileNameDisplay").style.display = "none";
    document.getElementById("ProfileNameInput").style.display = "block";
    document.getElementById("ProfileEmailDisplay").style.display = "none";
    document.getElementById("ProfileEmailInput").style.display = "block";
    document.getElementById("ProfileUsernameDisplay").style.display = "none";
    document.getElementById("ProfileUsernameInput").style.display = "block";
  }
  function addNewUsername() {
    document.getElementById("ProfileUsernameInput").innerHTML += '<div class="col mb-1"><div class="input-group input-group"><input type="text" class="form-control" name="ProfileUsernameInputText" placeholder="Username" value=""></div></div>'
  }
  function cancelEditProfile() {
    window.location.replace('/profile');
  }
</script>

<form action="/edit_profile" method="POST">
  <div class="container">
    <div class="main-body">

        <div class="row justify-content-md-center">
          <div class="col-lg-8 mb-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3 mb-3">
                    <h6>Name</h6>
                  </div>
                  <div class="col-sm-9" id="ProfileNameDisplay">
                    None
                  </div>
                  <div class="col-sm-9" id="ProfileNameInput" style="display:none;">
                    <div class="input-group input-group">
                      <input type="text" class="form-control" name="ProfileNameInputText" placeholder="Name" value="{{ user.id }}">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3 mb-3">
                    <h6>Email</h6>
                  </div>
                  <div class="col-sm-9" id="ProfileEmailDisplay">
                    {{ user.email }}
                  </div>
                  <div class="col-sm-9" id="ProfileEmailInput" style="display:none;">
                    <div class="input-group input-group">
                      <input type="text" class="form-control" name="ProfileEmailInputText" placeholder="Email" value="{{ user.email }}">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3 mb-3">
                    <h6>MTGO Username</h6>
                    <!-- <button id="AddNewUsernameButton" type="button" class="btn btn-primary" onclick="addNewUsername()" style="display:none;">Add New</button> -->
                  </div>
                  <div class="col-sm-9" id="ProfileUsernameDisplay">
                    {{ user.username }}
                  </div>
                  <div class="col" id="ProfileUsernameInput" style="display:none;">
                    <div class="col mb-1">
                      <div class="input-group input-group">
                        <input type="text" class="form-control" name="ProfileUsernameInputText" placeholder="Username" value="{{ user.username }}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-1">
                    <button id="EditProfileButton" type="button" class="btn btn-primary" onclick="editProfile()">Edit</button>
                    <button id="SaveProfileButton" type="submit" class="btn btn-primary" onclick="" style="display:none;">Save</button>
                  </div>
                  <div class="col-md-auto">
                    <button id="CancelProfileButton" type="button" class="btn btn-primary" onclick="cancelEditProfile()" style="display:none;">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-lg-8 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Project Status</h6>
                <small>Web Design</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Website Markup</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>One Page</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Mobile Template</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Backend API</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</form>

{% endblock %}