{% extends 'base.html' %}

{% block content %}

  <style>
    td {
      font-size: 10pt;
    }
    th {
      font-size: 10pt;
    }
    table tr.active {
      background: #3c3c3c;
      color: #f9f9f9;
    }
    table tr {
      background: #f0f0f0;
  </style>

  <div class="container-fluid">

    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error_message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ success_message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <h1><center>{{ table_name | capitalize }} Table</center></h1><br>

    {% if (table_name | capitalize) == 'Matches' %}
    <div class="row">
      <div class="col text-end">
        <form action="/load" method="POST">
          <button type="submit" class="btn btn-secondary">Load Data</button>
        </form>
      </div>
      <div class="col-md-auto">
        <form action="/load_drafts" method="POST">
          <button type="submit" class="btn btn-secondary">Load Drafts</button>
        </form>
      </div>
      <div class="col-md-auto">
        <button disabled id="ReviseButton" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ReviseModal" data-bs-whatever="@getbootstrap">Revise Record</button>
      </div>
      <div class="col">
        <button disabled id="ReviseButton" type="button" class="btn btn-secondary">Export</button>
      </div>
    </div>
  </div><br>
  {% endif %}

  <div class="container-fluid">
    <div class="row justify-content-center">
      <table class="table table-sm w-auto table-bordered user-select-none">
        <thead class="table-dark">
          <tr>
            {% if (table_name | capitalize) == 'Matches' %}
            <th scope="col" class="text-center">Match_ID</th>
            <th scope="col" class="text-center">P1</th>
            <th scope="col" class="text-center">P1_Arch</th>
            <th scope="col" class="text-center">P1_Subarch</th>
            <th scope="col" class="text-center">P2</th>
            <th scope="col" class="text-center">P2_Arch</th>
            <th scope="col" class="text-center">P2_Subarch</th>
            <th scope="col" class="text-center">P1_Roll</th>
            <th scope="col" class="text-center">P2_Roll</th>
            <th scope="col" class="text-center">Roll_Winner</th>
            <th scope="col" class="text-center">P1_Wins</th>
            <th scope="col" class="text-center">P2_Wins</th>
            <th scope="col" class="text-center">Match_Winner</th>
            <th scope="col" class="text-center">Format</th>
            <th scope="col" class="text-center">Limited_Format</th>
            <th scope="col" class="text-center">Match_Type</th>
            <th scope="col" class="text-center">Date</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Games' %}
            <th scope="col" class="text-center">Match_ID</th>
            <th scope="col" class="text-center">P1</th>
            <th scope="col" class="text-center">P2</th>
            <th scope="col" class="text-center">Game_Num</th>
            <th scope="col" class="text-center">PD_Selector</th>
            <th scope="col" class="text-center">PD_Choice</th>
            <th scope="col" class="text-center">On_Play</th>
            <th scope="col" class="text-center">On_Draw</th>
            <th scope="col" class="text-center">P1_Mulls</th>
            <th scope="col" class="text-center">P2_Mulls</th>
            <th scope="col" class="text-center">Turns</th>
            <th scope="col" class="text-center">Game_Winner</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Plays' %}
            <th scope="col" class="text-center">Game_Num</th>
            <th scope="col" class="text-center">Play_Num</th>
            <th scope="col" class="text-center">Turn_Num</th>
            <th scope="col" class="text-center">Casting_Player</th>
            <th scope="col" class="text-center">Action</th>
            <th scope="col" class="text-center">Primary_Card</th>
            <th scope="col" class="text-center">Target1</th>
            <th scope="col" class="text-center">Target2</th>
            <th scope="col" class="text-center">Target3</th>
            <th scope="col" class="text-center">Opp_Target</th>
            <th scope="col" class="text-center">Self_Target</th>
            <th scope="col" class="text-center">Cards_Drawn</th>
            <th scope="col" class="text-center">Attackers</th>
            <th scope="col" class="text-center">Active_Player</th>
            <th scope="col" class="text-center">Non-Active_Player</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Drafts' %}
            <th scope="col" class="text-center">Draft_ID</th>
            <th scope="col" class="text-center">Hero</th>
            <th scope="col" class="text-center">Player2</th>
            <th scope="col" class="text-center">Player3</th>
            <th scope="col" class="text-center">Player4</th>
            <th scope="col" class="text-center">Player5</th>
            <th scope="col" class="text-center">Player6</th>
            <th scope="col" class="text-center">Player7</th>
            <th scope="col" class="text-center">Player8</th>
            <th scope="col" class="text-center">Match_Wins</th>
            <th scope="col" class="text-center">Match_Losses</th>
            <th scope="col" class="text-center">Format</th>
            <th scope="col" class="text-center">Date</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Picks' %}
            <th scope="col" class="text-center">Card</th>
            <th scope="col" class="text-center">Pack_Num</th>
            <th scope="col" class="text-center">Pick_Num</th>
            <th scope="col" class="text-center">Pick_Ovr</th>
            <th scope="col" class="text-center">Avail1</th>
            <th scope="col" class="text-center">Avail2</th>
            <th scope="col" class="text-center">Avail3</th>
            <th scope="col" class="text-center">Avail4</th>
            <th scope="col" class="text-center">Avail5</th>
            <th scope="col" class="text-center">Avail6</th>
            <th scope="col" class="text-center">Avail7</th>
            <th scope="col" class="text-center">Avail8</th>
            <th scope="col" class="text-center">Avail9</th>
            <th scope="col" class="text-center">Avail10</th>
            <th scope="col" class="text-center">Avail11</th>
            <th scope="col" class="text-center">Avail12</th>
            <th scope="col" class="text-center">Avail13</th>
            <th scope="col" class="text-center">Avail14</th>
            {% endif %}
          </tr>
        </thead>
        <tbody style="cursor:pointer;" title="double click to get data">
          {% for row in table %}
          <tr class="jsTableRow">
            {% if (table_name | capitalize) == 'Matches' %}
            <th scope="row">{{ row.match_id }}</th>
            <td class="text-center">{{ row.p1 }}</td>
            <td class="text-center">{{ row.p1_arch }}</td>
            <td class="text-center">{{ row.p1_subarch }}</td>
            <td class="text-center">{{ row.p2 }}</td>
            <td class="text-center">{{ row.p2_arch }}</td>
            <td class="text-center">{{ row.p2_subarch }}</td>
            <td class="text-center">{{ row.p1_roll }}</td>
            <td class="text-center">{{ row.p2_roll }}</td>
            <td class="text-center">{{ row.roll_winner }}</td>
            <td class="text-center">{{ row.p1_wins }}</td>
            <td class="text-center">{{ row.p2_wins }}</td>
            <td class="text-center">{{ row.match_winner }}</td>
            <td class="text-center">{{ row.format }}</td>
            <td class="text-center">{{ row.limited_format }}</td>
            <td class="text-center">{{ row.match_type }}</td>
            <td class="text-center"><nobr>{{ row.date }}</nobr></td>
            {% endif %}
            {% if (table_name | capitalize) == 'Games' %}
            <th scope="row">{{ row.match_id }}</th>
            <td class="text-center">{{ row.p1 }}</td>
            <td class="text-center">{{ row.p2 }}</td>
            <td class="text-center">{{ row.game_num }}</td>
            <td class="text-center">{{ row.pd_selector }}</td>
            <td class="text-center">{{ row.pd_choice }}</td>
            <td class="text-center">{{ row.on_play }}</td>
            <td class="text-center">{{ row.on_draw }}</td>
            <td class="text-center">{{ row.p1_mulls }}</td>
            <td class="text-center">{{ row.p2_mulls }}</td>
            <td class="text-center">{{ row.turns }}</td>
            <td class="text-center">{{ row.game_winner }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Plays' %}
            <td class="text-center">{{ row.game_num }}</td>
            <td class="text-center">{{ row.play_num }}</td>
            <td class="text-center">{{ row.turn_num }}</td>
            <td class="text-center">{{ row.casting_player }}</td>
            <td class="text-center">{{ row.action }}</td>
            <td class="text-center">{{ row.primary_card }}</td>
            <td class="text-center">{{ row.target1 }}</td>
            <td class="text-center">{{ row.target2 }}</td>
            <td class="text-center">{{ row.target3 }}</td>
            <td class="text-center">{{ row.opp_target }}</td>
            <td class="text-center">{{ row.self_target }}</td>
            <td class="text-center">{{ row.cards_drawn }}</td>
            <td class="text-center">{{ row.attackers }}</td>
            <td class="text-center">{{ row.active_player }}</td>
            <td class="text-center">{{ row.non_active_player }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Drafts' %}
            <th scope="row">{{ row.draft_id }}</th>
            <td class="text-center">{{ row.hero }}</td>
            <td class="text-center">{{ row.player2 }}</td>
            <td class="text-center">{{ row.player3 }}</td>
            <td class="text-center">{{ row.player4 }}</td>
            <td class="text-center">{{ row.player5 }}</td>
            <td class="text-center">{{ row.player6 }}</td>
            <td class="text-center">{{ row.player7 }}</td>
            <td class="text-center">{{ row.player8 }}</td>
            <td class="text-center">{{ row.match_wins }}</td>
            <td class="text-center">{{ row.match_losses }}</td>
            <td class="text-center">{{ row.format }}</td>
            <td class="text-center">{{ row.date }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Picks' %}
            <th scope="row">{{ row.card }}</th>
            <td class="text-center">{{ row.pack_num }}</td>
            <td class="text-center">{{ row.pick_num }}</td>
            <td class="text-center">{{ row.pick_ovr }}</td>
            <td class="text-center">{{ row.avail1 }}</td>
            <td class="text-center">{{ row.avail2 }}</td>
            <td class="text-center">{{ row.avail3 }}</td>
            <td class="text-center">{{ row.avail4 }}</td>
            <td class="text-center">{{ row.avail5 }}</td>
            <td class="text-center">{{ row.avail6 }}</td>
            <td class="text-center">{{ row.avail7 }}</td>
            <td class="text-center">{{ row.avail8 }}</td>
            <td class="text-center">{{ row.avail9 }}</td>
            <td class="text-center">{{ row.avail10 }}</td>
            <td class="text-center">{{ row.avail11 }}</td>
            <td class="text-center">{{ row.avail12 }}</td>
            <td class="text-center">{{ row.avail13 }}</td>
            <td class="text-center">{{ row.avail14 }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if page_num %}

  {% if (page_num | int) == 1 %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <button disabled id="PrevButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) -1) | string }}'">Prev</button>
      </div>
      <div class="col">
        <button id="NextButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) +1) | string }}'">Next</button>
      </div>
    </div>
  </div>
  {% elif (page_num | int) == (pages | int) %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <button id="PrevButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) -1) | string }}'">Prev</button>
      </div>
      <div class="col">
        <button disabled id="NextButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) +1) | string }}'">Next</button>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <button id="PrevButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) -1) | string }}'">Prev</button>
      </div>
      <div class="col">
        <button id="NextButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) +1) | string }}'">Next</button>
      </div>
    </div>
  </div>
  {% endif %}
  
  <form action="/revise" method="POST">
    <input type="hidden" name="Page_Num"  id="Page_Num" value="{{ page_num }}">
    <input type="hidden" name="Match_ID"  id="Match_ID" value="NA">
    <input type="hidden" name="P1Arch"  id="P1Arch" value="NA">
    <input type="hidden" name="P2Arch"  id="P2Arch" value="NA">
    <input type="hidden" name="Format"  id="Format" value="NA">
    <input type="hidden" name="Limited_Format"  id="Limited_Format" value="NA">
    <input type="hidden" name="Match_Type"  id="Match_Type" value="NA">
    <div class="modal fade" id="ReviseModal" tabindex="-1" aria-labelledby="ReviseModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ReviseModalLabel">Revise Record</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="row text-center" id="ModalDate">
                  Date
                </div>
                <hr>
                <div class="row">
                  <div class="col" id="ModalP1">P1</div>
                  <div class="col" id="ModalP2">P2</div>
                </div><br>
                <div class="row">
                  <div class="col text-center">lands1</div>
                  <div class="col text-center">cards1</div>
                  <div class="col text-center">lands2</div>
                  <div class="col text-center">cards2</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="P1ArchButton" name="P1ArchButton" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P1_Arch
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="P1ArchButton" id="P1ArchMenu">
                        <li><a class="dropdown-item" onclick="showP1Arch(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showP1Arch(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showP1Arch(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showP1Arch(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col"><input type="text" class="form-control" id="P1_Subarch" name="P1_Subarch" placeholder="P1_Subarch" value="P1_Subarch"></div>
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="P2ArchButton" name="P2ArchButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P2_Arch
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="P2ArchButton" id="P2ArchMenu">
                        <li><a class="dropdown-item" onclick="showP2Arch(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showP2Arch(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showP2Arch(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showP2Arch(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col"><input type="text" class="form-control" id="P2_Subarch" name="P2_Subarch" placeholder="P2_Subarch" value="P2_Subarch"></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="FormatButton" name="FormatButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Format
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="FormatButton" id="FormatMenu">
                        <li><a class="dropdown-item" onclick="showFormat(this)">Constructed</a></li>
                        <li><a class="dropdown-item" onclick="showFormat(this)">Limited</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="LimitedFormatButton" name="LimitedFormatButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>
                        Limited_Format
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="LimitedFormatButton" id="LimitedFormatMenu">
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Booster Draft</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Sealed</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Vintage Cube</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="MatchTypeButton" name="MatchTypeButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Match_Type
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="MatchTypeButton" id="MatchTypeMenu">
                        <li><a class="dropdown-item" onclick="showMatchType(this)">League</a></li>
                        <li><a class="dropdown-item" onclick="showMatchType(this)">Challenge</a></li>
                        <li><a class="dropdown-item" onclick="showMatchType(this)">Premier</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="changeHiddenInputs()">Apply Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="/revise_multi" method="POST">
    <input type="hidden" name="Page_Num_Multi"  id="Page_Num_Multi" value="{{ page_num }}">
    <input type="hidden" name="FieldToChangeMulti"  id="FieldToChangeMulti" value="NA">
    <input type="hidden" name="Match_ID_Multi"  id="Match_ID_Multi" value="NA">
    <input type="hidden" name="P1ArchMulti"  id="P1ArchMulti" value="NA">
    <input type="hidden" name="P2ArchMulti"  id="P2ArchMulti" value="NA">
    <input type="hidden" name="FormatMulti"  id="FormatMulti" value="NA">
    <input type="hidden" name="Limited_FormatMulti"  id="Limited_FormatMulti" value="NA">
    <input type="hidden" name="Match_TypeMulti"  id="Match_TypeMulti" value="NA">
    <div class="modal fade" id="ReviseMultiModal" tabindex="-1" aria-labelledby="ReviseMultiModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ReviseMultiModalLabel">Revise Multiple Records</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="row text-center" id="FieldToChange">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="FieldToChangeButton" name="FieldToChangeButton" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      P1 Deck
                    </button>
                    <ul class="dropdown-menu" id="FieldToChangeMenu">
                      <li><a class="dropdown-item" onclick="showP1Field(this)">P1 Deck</a></li>
                      <li><a class="dropdown-item" onclick="showP2Field(this)">P2 Deck</a></li>
                      <li><a class="dropdown-item" onclick="showFormatField(this)">Format</a></li>
                      <li><a class="dropdown-item" onclick="showMatchTypeField(this)">Match Type</a></li>
                    </ul>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-4 text-end" id="P1ArchCol1" style="display:block">
                    <label for="P1ArchButtonMulti" class="form-label"><span class="align-middle"><b>P1_Arch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P1ArchCol2" style="display:block">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="P1ArchButtonMulti" name="P1ArchButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P1_Arch
                      </button>
                      <ul class="dropdown-menu" id="P1ArchMenu">
                        <li><a class="dropdown-item" onclick="showP1ArchMulti(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showP1ArchMulti(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showP1ArchMulti(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showP1ArchMulti(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                </div><br id=P1DeckBR1 style="display:block">

                <div class="row">
                  <div class="col-4 text-end" id="P1SubarchCol1" style="display:block">
                    <label for="P1_Subarch" class="form-label"><span class="align-middle"><b>P1_Subarch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P1SubarchCol2" style="display:block"><input type="text" class="form-control" id="P1_Subarch_Multi" name="P1_Subarch_Multi" placeholder="P1_Subarch" value="P1_Subarch"></div>
                </div><br id=P1DeckBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="P2ArchCol1" style="display:none">
                    <label for="P2ArchButtonMulti" class="form-label"><span class="align-middle"><b>P2_Arch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P2ArchCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="P2ArchButtonMulti" name="P2ArchButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P2_Arch
                      </button>
                      <ul class="dropdown-menu" id="P2ArchMenu">
                        <li><a class="dropdown-item" onclick="showP2ArchMulti(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showP2ArchMulti(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showP2ArchMulti(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showP2ArchMulti(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                </div><br id=P2DeckBR1 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="P2SubarchCol1" style="display:none">
                    <label for="P2_Subarch_Multi" class="form-label"><span class="align-middle"><b>P2_Subarch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P2SubarchCol2" style="display:none"><input type="text" class="form-control" id="P2_Subarch_Multi" name="P2_Subarch_Multi" placeholder="P2_Subarch" value="P2_Subarch"></div>
                </div><br id=P2DeckBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="FormatCol1" style="display:none">
                    <label for="FormatButtonMulti" class="form-label"><span class="align-middle"><b>Format:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="FormatCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="FormatButtonMulti" name="FormatButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="FormatMenu">
                        <li><a class="dropdown-item" onclick="showFormatMulti(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showFormatMulti(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showFormatMulti(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showFormatMulti(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                </div><br id=FormatBR1 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="LimitedFormatCol1" style="display:none">
                    <label for="LimitedFormatButtonMulti" class="form-label"><span class="align-middle"><b>Limited_Format:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="LimitedFormatCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="LimitedFormatButtonMulti" name="LimitedFormatButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="LimitedFormatMenu">
                        <li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormatMulti(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                </div><br id=FormatBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="MatchTypeCol1" style="display:none">
                    <label for="MatchTypeButtonMulti" class="form-label"><span class="align-middle"><b>Match_Type:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="MatchTypeCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="MatchTypeButtonMulti" name="MatchTypeButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="MatchTypeMenu">
                        <li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">Aggro</a></li>
                        <li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">Midrange</a></li>
                        <li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">Control</a></li>
                        <li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">Combo</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"  onclick="changeHiddenInputsMulti()"">Apply Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endif %}

{% endblock %}