{% extends 'base.html' %}

{% block content %}

  <style>
    td {
      font-size: 9pt;
    }
    th {
      font-size: 9pt;
    }
    table tr.active {
      background: #3c3c3c;
      color: #f9f9f9;
    }
    table tr {
      background: #f0f0f0;
  </style>

  <div class="container-fluid">
    <h1><center>{{ table_name | capitalize }} Table</center></h1><br>

  {% if (table_name | capitalize) == 'Matches' %}
    <div class="row">
      <div class="col text-end">
        <button disabled id="ReviseButton" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ReviseModal">Revise Record</button>
      </div>
      <div class="col">
        <button disabled id="RemoveButton" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#RemoveModal">Remove Record</button>
      </div>
    </div>
  {% endif %}
  </div><br>


  <div class="container-fluid">
    <div class="row justify-content-center">
      <table class="table table-sm w-auto table-bordered user-select-none">
        <thead class="table-dark">
          <tr>
            {% if (table_name | capitalize) == 'Matches' %}
            <th scope="col" class="text-center">Match_ID</th>
            <th scope="col" class="text-center">Draft_ID</th>
            <th scope="col" class="text-center">P1</th>
            <th scope="col" class="text-center">P1_Arch</th>
            <th scope="col" class="text-center">P1_Subarch</th>
            <th scope="col" class="text-center">P2</th>
            <th scope="col" class="text-center">P2_Arch</th>
            <th scope="col" class="text-center">P2_Subarch</th>
            <th scope="col" class="text-center">P1_Roll</th>
            <th scope="col" class="text-center">P2_Roll</th>
            <th scope="col" class="text-center">Roll_Winner</th>
            <th scope="col" class="text-center">P1_Wins</th>
            <th scope="col" class="text-center">P2_Wins</th>
            <th scope="col" class="text-center">Match_Winner</th>
            <th scope="col" class="text-center">Format</th>
            <th scope="col" class="text-center">Limited_Format</th>
            <th scope="col" class="text-center">Match_Type</th>
            <th scope="col" class="text-center">Date</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Games' %}
            <th scope="col" class="text-center">Match_ID</th>
            <th scope="col" class="text-center">P1</th>
            <th scope="col" class="text-center">P2</th>
            <th scope="col" class="text-center">Game_Num</th>
            <th scope="col" class="text-center">PD_Selector</th>
            <th scope="col" class="text-center">PD_Choice</th>
            <th scope="col" class="text-center">On_Play</th>
            <th scope="col" class="text-center">On_Draw</th>
            <th scope="col" class="text-center">P1_Mulls</th>
            <th scope="col" class="text-center">P2_Mulls</th>
            <th scope="col" class="text-center">Turns</th>
            <th scope="col" class="text-center">Game_Winner</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Plays' %}
            <th scope="col" class="text-center">Game_Num</th>
            <th scope="col" class="text-center">Play_Num</th>
            <th scope="col" class="text-center">Turn_Num</th>
            <th scope="col" class="text-center">Casting_Player</th>
            <th scope="col" class="text-center">Action</th>
            <th scope="col" class="text-center">Primary_Card</th>
            <th scope="col" class="text-center">Target1</th>
            <th scope="col" class="text-center">Target2</th>
            <th scope="col" class="text-center">Target3</th>
            <th scope="col" class="text-center">Opp_Target</th>
            <th scope="col" class="text-center">Self_Target</th>
            <th scope="col" class="text-center">Cards_Drawn</th>
            <th scope="col" class="text-center">Attackers</th>
            <th scope="col" class="text-center">Active_Player</th>
            <th scope="col" class="text-center">Non-Active_Player</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Drafts' %}
            <th scope="col" class="text-center">Draft_ID</th>
            <th scope="col" class="text-center">Hero</th>
            <th scope="col" class="text-center">Player2</th>
            <th scope="col" class="text-center">Player3</th>
            <th scope="col" class="text-center">Player4</th>
            <th scope="col" class="text-center">Player5</th>
            <th scope="col" class="text-center">Player6</th>
            <th scope="col" class="text-center">Player7</th>
            <th scope="col" class="text-center">Player8</th>
            <th scope="col" class="text-center">Match_Wins</th>
            <th scope="col" class="text-center">Match_Losses</th>
            <th scope="col" class="text-center">Format</th>
            <th scope="col" class="text-center">Date</th>
            {% endif %}
            {% if (table_name | capitalize) == 'Picks' %}
            <th scope="col" class="text-center">Card</th>
            <th scope="col" class="text-center">Pack_Num</th>
            <th scope="col" class="text-center">Pick_Num</th>
            <th scope="col" class="text-center">Pick_Ovr</th>
            <th scope="col" class="text-center">Avail1</th>
            <th scope="col" class="text-center">Avail2</th>
            <th scope="col" class="text-center">Avail3</th>
            <th scope="col" class="text-center">Avail4</th>
            <th scope="col" class="text-center">Avail5</th>
            <th scope="col" class="text-center">Avail6</th>
            <th scope="col" class="text-center">Avail7</th>
            <th scope="col" class="text-center">Avail8</th>
            <th scope="col" class="text-center">Avail9</th>
            <th scope="col" class="text-center">Avail10</th>
            <th scope="col" class="text-center">Avail11</th>
            <th scope="col" class="text-center">Avail12</th>
            <th scope="col" class="text-center">Avail13</th>
            <th scope="col" class="text-center">Avail14</th>
            {% endif %}
          </tr>
        </thead>
        <tbody style="cursor:pointer;" title="double click to get data">
          {% for row in table %}
          <tr class="jsTableRow">
            {% if (table_name | capitalize) == 'Matches' %}
            <th scope="row">{{ row.match_id }}</th>
            <td class="text-center">{{ row.draft_id }}</td>
            <td class="text-center">{{ row.p1 }}</td>
            <td class="text-center">{{ row.p1_arch }}</td>
            <td class="text-center">{{ row.p1_subarch }}</td>
            <td class="text-center">{{ row.p2 }}</td>
            <td class="text-center">{{ row.p2_arch }}</td>
            <td class="text-center">{{ row.p2_subarch }}</td>
            <td class="text-center">{{ row.p1_roll }}</td>
            <td class="text-center">{{ row.p2_roll }}</td>
            <td class="text-center">{{ row.roll_winner }}</td>
            <td class="text-center">{{ row.p1_wins }}</td>
            <td class="text-center">{{ row.p2_wins }}</td>
            <td class="text-center">{{ row.match_winner }}</td>
            <td class="text-center">{{ row.format }}</td>
            <td class="text-center">{{ row.limited_format }}</td>
            <td class="text-center">{{ row.match_type }}</td>
            <td class="text-center"><nobr>{{ row.date }}</nobr></td>
            {% endif %}
            {% if (table_name | capitalize) == 'Games' %}
            <th scope="row">{{ row.match_id }}</th>
            <td class="text-center">{{ row.p1 }}</td>
            <td class="text-center">{{ row.p2 }}</td>
            <td class="text-center">{{ row.game_num }}</td>
            <td class="text-center">{{ row.pd_selector }}</td>
            <td class="text-center">{{ row.pd_choice }}</td>
            <td class="text-center">{{ row.on_play }}</td>
            <td class="text-center">{{ row.on_draw }}</td>
            <td class="text-center">{{ row.p1_mulls }}</td>
            <td class="text-center">{{ row.p2_mulls }}</td>
            <td class="text-center">{{ row.turns }}</td>
            <td class="text-center">{{ row.game_winner }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Plays' %}
            <td class="text-center">{{ row.game_num }}</td>
            <td class="text-center">{{ row.play_num }}</td>
            <td class="text-center">{{ row.turn_num }}</td>
            <td class="text-center">{{ row.casting_player }}</td>
            <td class="text-center">{{ row.action }}</td>
            <td class="text-center">{{ row.primary_card }}</td>
            <td class="text-center">{{ row.target1 }}</td>
            <td class="text-center">{{ row.target2 }}</td>
            <td class="text-center">{{ row.target3 }}</td>
            <td class="text-center">{{ row.opp_target }}</td>
            <td class="text-center">{{ row.self_target }}</td>
            <td class="text-center">{{ row.cards_drawn }}</td>
            <td class="text-center">{{ row.attackers }}</td>
            <td class="text-center">{{ row.active_player }}</td>
            <td class="text-center">{{ row.non_active_player }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Drafts' %}
            <th scope="row">{{ row.draft_id }}</th>
            <td class="text-center">{{ row.hero }}</td>
            <td class="text-center">{{ row.player2 }}</td>
            <td class="text-center">{{ row.player3 }}</td>
            <td class="text-center">{{ row.player4 }}</td>
            <td class="text-center">{{ row.player5 }}</td>
            <td class="text-center">{{ row.player6 }}</td>
            <td class="text-center">{{ row.player7 }}</td>
            <td class="text-center">{{ row.player8 }}</td>
            <td class="text-center">{{ row.match_wins }}</td>
            <td class="text-center">{{ row.match_losses }}</td>
            <td class="text-center">{{ row.format }}</td>
            <td class="text-center">{{ row.date }}</td>
            {% endif %}
            {% if (table_name | capitalize) == 'Picks' %}
            <th scope="row">{{ row.card }}</th>
            <td class="text-center">{{ row.pack_num }}</td>
            <td class="text-center">{{ row.pick_num }}</td>
            <td class="text-center">{{ row.pick_ovr }}</td>
            <td class="text-center">{{ row.avail1 }}</td>
            <td class="text-center">{{ row.avail2 }}</td>
            <td class="text-center">{{ row.avail3 }}</td>
            <td class="text-center">{{ row.avail4 }}</td>
            <td class="text-center">{{ row.avail5 }}</td>
            <td class="text-center">{{ row.avail6 }}</td>
            <td class="text-center">{{ row.avail7 }}</td>
            <td class="text-center">{{ row.avail8 }}</td>
            <td class="text-center">{{ row.avail9 }}</td>
            <td class="text-center">{{ row.avail10 }}</td>
            <td class="text-center">{{ row.avail11 }}</td>
            <td class="text-center">{{ row.avail12 }}</td>
            <td class="text-center">{{ row.avail13 }}</td>
            <td class="text-center">{{ row.avail14 }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if page_num %}

  {% if (page_num | int) == 1 %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <button disabled id="PrevButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) -1) | string }}'">Prev</button>
      </div>
      <div class="col-md-auto"><span class="align-middle"><b>Page {{ page_num }} of {{ pages }}</span></b></div>
  {% endif %}
  {% if (page_num | int) > 1 %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <button id="PrevButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) -1) | string }}'">Prev</button>
      </div>
      <div class="col-md-auto"><span class="align-middle"><b>Page {{ page_num }} of {{ pages }}</span></b></div>
  {% endif %}
  {% if (page_num | int) == (pages | int) %}
      <div class="col">
        <button disabled id="NextButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) +1) | string }}'">Next</button>
      </div>
    </div>
  </div>
  {% endif %}
  {% if (page_num | int) < (pages | int) %}
      <div class="col">
        <button id="NextButton" type="button" class="btn btn-secondary" onclick="window.location.href='/table/{{ table_name }}/{{ ((page_num | int) +1) | string }}'">Next</button>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% endif %}

  <form action="/revise" method="POST">
    <input type="hidden" name="Page_Num"  id="Page_Num" value="{{ page_num }}">
    <input type="hidden" name="Match_ID"  id="Match_ID" value="NA">
    <input type="hidden" name="P1Arch"  id="P1Arch" value="NA">
    <input type="hidden" name="P2Arch"  id="P2Arch" value="NA">
    <input type="hidden" name="Format"  id="Format" value="NA">
    <input type="hidden" name="Limited_Format"  id="Limited_Format" value="NA">
    <input type="hidden" name="Match_Type"  id="Match_Type" value="NA">
    <div class="modal fade" id="ReviseModal" tabindex="-1" aria-labelledby="ReviseModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="ReviseModalLabel">Revise Record</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="row text-center" id="ModalDate">
                  Date
                </div>
                <hr>
                <div class="row">
                  <div class="col" id="ModalP1">P1</div>
                  <div class="col" id="ModalP2">P2</div>
                </div><br>
                <div class="row">
                  <div class="col text-center">lands1</div>
                  <div class="col text-center">cards1</div>
                  <div class="col text-center">lands2</div>
                  <div class="col text-center">cards2</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="P1ArchButton" name="P1ArchButton" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P1_Arch
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="P1ArchButton" id="P1ArchMenu">
                      </ul>
                    </div>
                  </div>
                  <div class="col"><input type="text" class="form-control" id="P1_Subarch" name="P1_Subarch" placeholder="P1_Subarch" value="P1_Subarch"></div>
                  <div class="col text-center">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="P2ArchButton" name="P2ArchButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        P2_Arch
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="P2ArchButton" id="P2ArchMenu">
                      </ul>
                    </div>
                  </div>
                  <div class="col"><input type="text" class="form-control" id="P2_Subarch" name="P2_Subarch" placeholder="P2_Subarch" value="P2_Subarch"></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col text-end">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="FormatButton" name="FormatButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Format
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="FormatButton" id="FormatMenu">
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="LimitedFormatButton" name="LimitedFormatButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>
                        Limited_Format
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="LimitedFormatButton" id="LimitedFormatMenu">
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Booster Draft</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Sealed</a></li>
                        <li><a class="dropdown-item" onclick="showLimitedFormat(this)">Vintage Cube</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="MatchTypeButton" name="MatchTypeButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Match_Type
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="MatchTypeButton" id="MatchTypeMenu">
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="changeHiddenInputs()">Apply Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="/revise_multi" method="POST">
    <input type="hidden" name="Page_Num_Multi"  id="Page_Num_Multi" value="{{ page_num }}">
    <input type="hidden" name="FieldToChangeMulti"  id="FieldToChangeMulti" value="NA">
    <input type="hidden" name="Match_ID_Multi"  id="Match_ID_Multi" value="NA">
    <input type="hidden" name="P1ArchMulti"  id="P1ArchMulti" value="NA">
    <input type="hidden" name="P2ArchMulti"  id="P2ArchMulti" value="NA">
    <input type="hidden" name="FormatMulti"  id="FormatMulti" value="NA">
    <input type="hidden" name="Limited_FormatMulti"  id="Limited_FormatMulti" value="NA">
    <input type="hidden" name="Match_TypeMulti"  id="Match_TypeMulti" value="NA">
    <div class="modal fade" id="ReviseMultiModal" tabindex="-1" aria-labelledby="ReviseMultiModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="ReviseMultiModalLabel">Revise Multiple Records</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="row text-center" id="FieldToChange">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="FieldToChangeButton" name="FieldToChangeButton" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      P1 Deck
                    </button>
                    <ul class="dropdown-menu" id="FieldToChangeMenu">
                      <li><a class="dropdown-item" onclick="showP1Field(this)">P1 Deck</a></li>
                      <li><a class="dropdown-item" onclick="showP2Field(this)">P2 Deck</a></li>
                      <li><a class="dropdown-item" onclick="showFormatField(this)">Format</a></li>
                      <li><a class="dropdown-item" onclick="showMatchTypeField(this)">Match Type</a></li>
                    </ul>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-4 text-end" id="P1ArchCol1" style="display:block">
                    <label for="P1ArchButtonMulti" class="form-label"><span class="align-middle"><b>P1_Arch:</b></span></label>
                  </div>
                  <div class="col-8" id="P1ArchCol2" style="display:block">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="P1ArchButtonMulti" name="P1ArchButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="P1ArchMenuMulti">
                      </ul>
                    </div>
                  </div>
                </div><br id=P1DeckBR1 style="display:block">

                <div class="row">
                  <div class="col-4 text-end" id="P1SubarchCol1" style="display:block">
                    <label for="P1_Subarch" class="form-label"><span class="align-middle"><b>P1_Subarch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P1SubarchCol2" style="display:block"><input type="text" class="form-control" id="P1_Subarch_Multi" name="P1_Subarch_Multi" placeholder="P1_Subarch" value="NA"></div>
                </div><br id=P1DeckBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="P2ArchCol1" style="display:none">
                    <label for="P2ArchButtonMulti" class="form-label"><span class="align-middle"><b>P2_Arch:</b></span></label>
                  </div>
                  <div class="col-8" id="P2ArchCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="P2ArchButtonMulti" name="P2ArchButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="P2ArchMenuMulti">
                      </ul>
                    </div>
                  </div>
                </div><br id=P2DeckBR1 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="P2SubarchCol1" style="display:none">
                    <label for="P2_Subarch_Multi" class="form-label"><span class="align-middle"><b>P2_Subarch:</b></span></label>
                  </div>
                  <div class="col-8 text-end" id="P2SubarchCol2" style="display:none"><input type="text" class="form-control" id="P2_Subarch_Multi" name="P2_Subarch_Multi" placeholder="P2_Subarch" value="NA"></div>
                </div><br id=P2DeckBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="FormatCol1" style="display:none">
                    <label for="FormatButtonMulti" class="form-label"><span class="align-middle"><b>Format:</b></span></label>
                  </div>
                  <div class="col-8" id="FormatCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="FormatButtonMulti" name="FormatButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="FormatMenuMulti">
                      </ul>
                    </div>
                  </div>
                </div><br id=FormatBR1 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="LimitedFormatCol1" style="display:none">
                    <label for="LimitedFormatButtonMulti" class="form-label"><span class="align-middle"><b>Limited_Format:</b></span></label>
                  </div>
                  <div class="col-8" id="LimitedFormatCol2" style="display:none">
                    <div class="dropdown">
                      <button disabled class="btn btn-secondary dropdown-toggle w-100" type="button" id="LimitedFormatButtonMulti" name="LimitedFormatButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="LimitedFormatMenuMulti">
                      </ul>
                    </div>
                  </div>
                </div><br id=FormatBR2 style="display:none">

                <div class="row">
                  <div class="col-4 text-end" id="MatchTypeCol1" style="display:none">
                    <label for="MatchTypeButtonMulti" class="form-label"><span class="align-middle"><b>Match_Type:</b></span></label>
                  </div>
                  <div class="col-8" id="MatchTypeCol2" style="display:none">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="MatchTypeButtonMulti" name="MatchTypeButtonMulti" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        NA
                      </button>
                      <ul class="dropdown-menu" id="MatchTypeMenuMulti">
                      </ul>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"  onclick="changeHiddenInputsMulti()">Apply Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="/remove" method="POST">
    <input type="hidden" name="removeType" id="removeType" value="NA">
    <input type="hidden" name="removeMatchId" id="removeMatchId" value="NA">
    <div class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="RemoveModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="RemoveModalLabel">Remove Record</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="RemoveCloseButton"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row" id="RemoveMessage">
                <b><center>This will remove the selected Match and its associated Games/Plays from your database.</center></b><br><br><br>
                <hr>
                <b>Remove:</b>
                <p class="px-5">The record will be re-parsed and included in future data imports.</p>
                <b>Remove and Ignore:</b>
                <p class="px-5">The record will <b>not</b> be included in future data imports.</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col text-end">
              <button type="submit" class="btn btn-primary" id="RemoveButton1" onclick="removeHidden('Remove')">Remove</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" id="RemoveButton2" onclick="removeHidden('Ignore')">Remove and Ignore</button>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </form>

  <script>
    let input_options;
    window.onload = function(){
      fetch('/input_options').then(function(response){
        response.json().then(function(data){
          input_options = data;
          for (var i = 0; i < data["Archetypes"].length; i++){
            document.getElementById("P1ArchMenu").innerHTML += '<li><a class="dropdown-item" onclick="showP1Arch(this)">'+data["Archetypes"][i]+'</a></li>';
            document.getElementById("P2ArchMenu").innerHTML += '<li><a class="dropdown-item" onclick="showP2Arch(this)">'+data["Archetypes"][i]+'</a></li>';
            document.getElementById("P1ArchMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showP1ArchMulti(this)">'+data["Archetypes"][i]+'</a></li>';
            document.getElementById("P2ArchMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showP2ArchMulti(this)">'+data["Archetypes"][i]+'</a></li>';
          };
          for (var i = 0; i < data["Constructed Formats"].length; i++){
            document.getElementById("FormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showFormatMulti(this)">'+data["Constructed Formats"][i]+'</a></li>';
            document.getElementById("FormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showFormat(this)">'+data["Constructed Formats"][i]+'</a></li>';
          };
          for (var i = 0; i < data["Limited Formats"].length; i++){
            document.getElementById("FormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showFormatMulti(this)">'+data["Limited Formats"][i]+'</a></li>';
            document.getElementById("FormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showFormat(this)">'+data["Limited Formats"][i]+'</a></li>';
          };
          for (var i = 0; i < data["Constructed Match Types"].length; i++){
            document.getElementById("MatchTypeMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">'+data["Constructed Match Types"][i]+'</a></li>';
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Constructed Match Types"][i]+'</a></li>';
          };
          for (var i = 0; i < data["Booster Draft Match Types"].length; i++){
            document.getElementById("MatchTypeMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">'+data["Booster Draft Match Types"][i]+'</a></li>';
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+'</a></li>';
          };
          for (var i = 0; i < data["Sealed Match Types"].length; i++){
            document.getElementById("MatchTypeMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">'+data["Sealed Match Types"][i]+'</a></li>';
            document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Sealed Match Types"][i]+'</a></li>';
          };
          document.getElementById("FormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showFormat(this)">NA</a></li>';
          document.getElementById("FormatMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showFormatMulti(this)">NA</a></li>';
          document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">NA</a></li>';
          document.getElementById("MatchTypeMenuMulti").innerHTML += '<li><a class="dropdown-item" onclick="showMatchTypeMulti(this)">NA</a></li>';
        });
      });     
    };
  </script>

  {% if (table_name | capitalize) == 'Matches' %}
  <script>
    var match_ids = []
    $(document).ready(function(){
      $(".jsTableRow").click(function(){
        var myarray = [];
        $(".active").each(function() {
          myarray.push($(this).text().trim().replace(/\s\s+/g, ' ').split(" "));
        });
        match_ids = myarray.map(innerArray => innerArray[0]);
        if (myarray.length === 1){
          document.getElementById("ReviseButton").disabled = false;
          document.getElementById("RemoveButton").disabled = false;
          document.getElementById("ReviseButton").setAttribute("data-bs-target", "#ReviseModal");
        } else if (myarray.length > 1){
          document.getElementById("ReviseButton").disabled = false;
          document.getElementById("RemoveButton").disabled = true;
          document.getElementById("ReviseButton").setAttribute("data-bs-target", "#ReviseMultiModal");
        } else if (myarray.length === 0){
          document.getElementById("ReviseButton").disabled = true;
          document.getElementById("RemoveButton").disabled = true;
        };
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $(".jsTableRow").click(function(){
        var toRevise = [];
        $(".active").each(function() {
            toRevise = $(this).text().trim().replace(/\s\s+/g, ' ').split(" ");
        });
        if (toRevise.length > 0){
          fetch('/values/'+toRevise[0]).then(function(response){
            response.json().then(function(data){
              document.getElementById("ReviseModalLabel").innerHTML = 'Revise Record - ' + data.match_id;
              document.getElementById("ModalDate").innerHTML = '<center><b>Date Played:</b> ' + data.date + '</center>';
              document.getElementById("ModalP1").innerHTML = '<b>P1:</b> ' + data.p1;
              document.getElementById("ModalP2").innerHTML = '<b>P2:</b> ' + data.p2;
              document.getElementById('P1_Subarch').value = data.p1_subarch;
              document.getElementById('P2_Subarch').value = data.p2_subarch;
              if (data.p1_arch != "NA"){
                document.getElementById('P1ArchButton').innerHTML = data.p1_arch;
              } else{
                document.getElementById('P1ArchButton').innerHTML = "P1_Arch";
              };
              if (data.p2_arch != "NA"){
                document.getElementById('P2ArchButton').innerHTML = data.p2_arch;
              } else{
                document.getElementById('P2ArchButton').innerHTML = "P2_Arch";
              };
              if (data.format != "NA"){
                document.getElementById('FormatButton').innerHTML = data.format;
                if (input_options["Constructed Formats"].includes(data.format)){
                  document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
                  document.getElementById('LimitedFormatButton').disabled = true;
                  document.getElementById('MatchTypeMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Constructed Match Types"].length; i++){
                    document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Constructed Match Types"][i]+' </a></li>';
                  };
                };
                if (data.format === "Booster Draft"){
                  document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
                  document.getElementById('LimitedFormatButton').disabled = false;
                  document.getElementById('LimitedFormatMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Booster Draft Formats"].length; i++){
                    document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Formats"][i]+' </a></li>';
                  };
                  document.getElementById('MatchTypeMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Booster Draft Match Types"].length; i++){
                    document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+' </a></li>';
                  };
                };
                if (data.format === "Sealed Deck"){
                  document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
                  document.getElementById('LimitedFormatButton').disabled = false;
                  document.getElementById('LimitedFormatMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Sealed Formats"].length; i++){
                    document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Sealed Formats"][i]+' </a></li>';
                  };
                  document.getElementById('MatchTypeMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Sealed Match Types"].length; i++){
                    document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Sealed Match Types"][i]+' </a></li>';
                  };
                };
                if (data.format === "Cube"){
                  document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
                  document.getElementById('LimitedFormatButton').disabled = false;
                  document.getElementById('LimitedFormatMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Cube Formats"].length; i++){
                    document.getElementById("LimitedFormatMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Cube Formats"][i]+' </a></li>';
                  };
                  document.getElementById('MatchTypeMenu').innerHTML = "";
                  for (var i = 0; i < input_options["Booster Draft Match Types"].length; i++){
                    document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">'+input_options["Booster Draft Match Types"][i]+' </a></li>';
                  };
                };
                document.getElementById("MatchTypeMenu").innerHTML += '<li><a class="dropdown-item" onclick="showMatchType(this)">NA </a></li>';
              } else{
                document.getElementById('FormatButton').innerHTML = "Format";
              };
              if (data.limited_format != "NA"){
                document.getElementById('LimitedFormatButton').innerHTML = data.limited_format;
              } else{
                document.getElementById('LimitedFormatButton').innerHTML = "Limited_Format";
              };
              if (data.match_type != "NA"){
                document.getElementById('MatchTypeButton').innerHTML = data.match_type;
              } else{
                document.getElementById('MatchTypeButton').innerHTML = "Match_Type";
              };
            });
          });
        };
      });
    });
  </script>
  <script>
    function removeHidden(label) {
      document.getElementById("removeType").value = label;
      document.getElementById("removeMatchId").value = match_ids[0];
    }
  </script>
  {% endif %}
  <script>
    $(document).ready(function() {
      $(".jsTableRow").dblclick(function(){
        var str = $(this).text().trim().replace(/\s\s+/g, ' ').split(" ")
        var table = $("h1").text().split(" ")[0]
        if (table == "Matches"){
          window.location.href = '/table/games/'+str[0]+'/0'
        } else if (table == "Games"){
          window.location.href = '/table/plays/'+str[0]+'/'+str[3]
        } else if (table == "Drafts"){
          window.location.href = '/table/picks/'+str[0]+'/0'
        }
      });
    });
  </script>

{% endblock %}